# --- Project Specific - Dataset and Results ---
# 既然结果和预测图都在 data 里，直接忽略整个文件夹
data/

# 常见的训练输出文件夹 (如果你的项目会自动生成这些，也建议加上)
work_dirs/
runs/
snapshots/
checkpoints/

# --- Standard Python ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django/Flask stuff:
*.log
local_settings.py
instance/
.webassets-cache
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# IDE settings
.spyderproject
.ropeproject
.idea
.idea/*
.vscode/

# --- Large Files & Weights (Strictly Ignore) ---
# 忽略压缩包
*.zip
*.tar
*.tar.gz

# 忽略 Numpy 大数据文件
*.memmap
*.npz
*.npy
*.pkl

# 忽略医学影像格式 (防止有漏网之鱼不在 data 文件夹里)
*.nii.gz
*.nii
*.tif
*.dcm

# 忽略模型权重文件 (非常重要，防止上传几个G的模型)
*.model
*.pth
*.pt
*.ckpt
*.weights